* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

#info-bar {
    height: 20px;
    color: rgb(240, 15, 210);
    font-weight: bold;
}

#sensor {
    border: 1px solid #7ce75fce;
    -webkit-app-region: drag;
}

#btn {
    background-color: #00000000;
    border: none;
    color: rgb(30, 57, 212);
    display: inline-block;
    font-size: 20px;
}