* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

#info-bar {
    height: 20px;
    color: #f56de3ce;
}

#sensor {
    border: 1px solid #7ce75fce;
    -webkit-app-region: drag;
}

#btn {
    background-color: #00000000;
    border: none;
    color: white;
    display: inline-block;
    font-size: 20px;
}