* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

#info-bar {
    height: 20px;
    font-weight: bold;
}

#sensor {
    border: 1px solid #77dd77cc;
    -webkit-app-region: drag;
}

button {
    background-color: #00000000;
    border: none;
    display: inline-block;
    font-size: 12px;
}